<h1>Listing my_resources</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fields</th>
      <th>My application</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @my_resources.each do |my_resource| %>
      <tr>
        <td><%= my_resource.name %></td>
        <td><%= my_resource.fields %></td>
        <td><%= my_resource.my_application %></td>
        <td><%= link_to 'Show', my_resource %></td>
        <td><%= link_to 'Edit', edit_my_resource_path(my_resource) %></td>
        <td><%= link_to 'Destroy', my_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My resource', new_my_resource_path %>
